<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/archibus/schema/ab-core/libraries/ext/resources/css/ext-all.css">
		<link rel="stylesheet" type="text/css" href="/archibus/schema/ab-core/css/abcascadingstylesheet.css">
		<link rel="stylesheet" type="text/css" href="/archibus/schema/ab-core/css/abcascadingstylesheet-slate.css">
	</head>
	<body>
		<center>
			<h1>You have signed out of Web Central.</h1>
			<img align="middle" alt="ARCHIBUS" src="../../../ab-system/graphics/ab-pnav-opener.gif" />
		</center>
	</body>
</html>

